/* Universal Selectors */
* {
    margin: 0;
    padding: 0;
}

/* Variables */

/* Element Selectors */
body {
    position: relative;
    background-color: ivory;
    font-size: 20px;
}

header,
footer {
    height: 50px;
    width: 100%;
    line-height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkseagreen;
}

h1 {
    border: 3px black dashed;

}

nav {
    position: absolute;
    top: 0;
    right: 0;;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px
}

a {
    text-decoration: none;
}

main {
    padding: 60px 0;
}

footer {
    position: absolute;
    bottom: 0;
}
/* Class Selectors */
.text-right {
    text-align: right;
}



/* ID Selectors */