/* Universal Selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --main-text: whitesmoke;
    --seagreen: darkseagreen;
    --width: 100%;
}

/* Element Selectors */
body {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: rgb(44, 43, 43);
    color: var(--main-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: var(--width);
    padding: 20px 20px;
    background-color: var(--seagreen);
    border-bottom: 5px solid var(--main-text);
}

footer {
    display: flex;
    flex-wrap: wrap;
    width: var(--width);
    bottom: 0;
    padding: 20px;
    background-color: var(--seagreen);
    margin-top: 0;
    border-top: 5px solid var(--main-text);
}


a {
    text-decoration: none;
    color: var(--main-text);
}

main {
    padding: 50px 20px;
}

h2 { 
    font-size: calc(1rem + 3vw);
    text-decoration: underline;
    margin: 10px;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;        
}

figure img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

article,
section {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    width: var(--width);
    border: 5px solid rgb(79, 138, 125);
    padding: 0 20px;
    margin: 50px 0;
}

article p {
    padding: 20px;
    margin-left: 1em;
}

/* Class Selectors */

/* Top Nav */

.topnav {
    display: flex;
    background-color: rgb(79, 138, 125);
    position: sticky;
    top: 0;
}

.topnav a {
    padding: 14px 20px;
}

.topnav a:hover{
    background-color: var(--main-text);
    color: black
}

/* Bio Section classes */

.inner-heading {
    width: 100%;
    text-align: center;

}

.bio {
    display: flex;
    align-items: center;
}

.avatar {
    display: inline-flex;
}

.avatar img {
    margin: 30px;
}

/* Portfolio classes*/

.project-1-size {
    height: 500px;
    width: 880px;
}

.project-ph-size {
    height: 350px;
    width: 380px;
}

.project-1,
.project-ph {
    position: relative;
    padding: 25px
}

.project-name {
    position: absolute;
    font-size: 30px;
    line-height: 45px;
    background: var(--seagreen);
    padding: 1px 9px
}

.project-1 a,
.project-ph a {
    display: inline-flex;
    align-content: center;
    box-shadow: -25px -45px 70px inset var(--main-text);
}

.project-1 img,
.project-ph img {
    opacity: 0.7;
    filter: blur(3px)
}

.project-1 img:hover,
.project-ph img:hover {
    opacity: 1.0;
    filter: none;
}

.contactlinks {
    display: inline;
    flex-wrap: wrap;
    flex: 1 0;
    padding: 0px 20%;
}

.contactlinks a {
    margin: 0 40px;
    padding: 0 30px;
}

/* ID Selectors */

#portfolio {
    display: inline-flex;
    align-content: center;
}

/* Media Queries */

/* Laptop */

@media screen and (max-width: 1223px) {
    .contactlinks {
        display: inline;
        flex-wrap: wrap;
        flex: 1 0;
        padding: 0px 18%;
    }
}

@media screen and  (max-width: 1141px) {
    .contactlinks {
        display: inline;
        flex-wrap: wrap;
        flex: 1 0;
        padding: 0px 10%;
    }
}
/* Tablet  */
@media screen and (max-width: 992px) {
    main, 
    nav {
    flex-direction: column;
    flex-wrap: wrap;
    }

    .bio,
    .project-1 img {
        flex-wrap: wrap;
        flex: 1 0;
        width: 75%;
    }

    .project-ph img {
        flex-wrap: wrap;
        flex: 1 0;
    }
}


@media screen and (max-width: 768px) {
    main,
    nav {
    flex-direction: column;
    }

    .bio,
    .avatar img,
    .project-1 img,
    .project-ph img{
        flex-wrap: wrap;
        flex: 1 0;
        width: 50%;
    }
}

/* Extra code that was commented out */

/* footer a {
    position: absolute;
    right: 0;
    width: 130px;
} */

/* nav { 
    display: flex;
    background-color: rgb(79, 138, 125);
    position: sticky;
    top: 0;
}  */

/* nav a {
    padding: 14px 20px;
}

nav a:hover {
    background-color: var(--main-text);
    color: black
} */